<style>
  .row
  {
  height:50px;
  font-size:25px;
  font:bold;
  }

  a
  {
  color:white;
  }

  a:hover
  {
  color:blue;
  }

.jumbotron
 {
  background-color:#660033;
  color:white;
 }


.imagel
{
  width:35%;
  height:200px;
  float:left;
  positive:relative;
}

.imager
{
  width:35%;
  height:200px;
  float:right;
  positive:relative;
}

.contentr
{
  width:65%;
  height:200px;
  float:right;
  positive:relative;
}

.contentl
{
  width:65%;
  height:200px;
  float:left;
  positive:relative;
}

.s
{
  width:90%;
  height:250px;
}

.modal-title
{
  color:black;
}
</style>
